@use "variables" as *;

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.dash-tile {
    display: block;
    width: 10rem;
    background-color: white;
    border: 1px solid $borderGray;
    border-radius: 0.25rem;
    margin: 0.25rem;
    padding: 0;
    overflow: hidden;
    height: 5.5rem;

    &:hover {
        background-color: #eee;
    }
}

.dash-tile-add {
    color: #999;
    text-align: center;
    font-size: 36pt;
}

.dash-tile-content {

}

.dash-tile-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dash-tile-deck-indicators {
    display: flex;
    margin-top: 0.25rem;
    justify-content: space-evenly;
}

.indicator {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

.indicator-lessons {
    background-color: $lessonColor;
    color: white;
}

.indicator-reviews {
    background-color: $reviewColor;
    color: white;
}
