$borderGray: #ccc;
$btnColor: #2a4;
$btnHoverColor: #183;
$btnSecondaryColor: #999;
$btnSecondaryHoverColor: #666;
$btnDangerColor: #d33;
$btnDangerHoverColor: #c22;
$btnDangerDisabledColor: #d66;
$btnEditColor: #25c;  // TODO get lighter version
$btnEditHoverColor: #25c;
$btnLightColor: #eee;
$btnLightHoverColor: #ddd;
$linkColor: #444;
$linkHoverColor: #222;
$lessonColor: red;
$reviewColor: #17b;
